body, html 
{
  height: 96%; /* removes scroll bar for some reason appears above 96% */
  margin: 0;
}

.Font  
{
  color: #443ba8;
  text-align: left;
  font-size: 70px;
  font-family: "Futura PT", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 0;
  padding: 0; 
}


/*---------Page1 and its variants------------------------------------------------------------------------------------------------*/

.Conwaya 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://miro.medium.com/v2/1*lI0IaLqlpXjh96Z-_RX9Dw.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}
  
.Conwayb 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://miro.medium.com/v2/1*lI0IaLqlpXjh96Z-_RX9Dw.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
  
.Title 
{
  color: #ffffff;
  text-align: center;
  font-size: 96px;
  font-family: "Futura PT", sans-serif;
  background-color: #ff2d84;
  height: 150px;
  width: 600px;
  border-radius: 10px;
  border: 8px solid #000000;
  margin-left: 800px;
  margin-top: 75px;
}
  
a 
{
  text-decoration: none;
  display: inline-block;
}
  
.Button 
{
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-family: "Futura PT", sans-serif;
  background-color: #ff2d84;
  height: 80px;
  width: 300px;
  border-radius: 5px;
  border: 4px solid #000000;
  margin-left: 940px;
  margin-top: 400px;
}
  
.BigBox 
{
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  font-family: "Futura PT", sans-serif;
  background-color: #ff2d84;
  height: 700px;
  width: 700px;
  border-radius: 10px;
  border: 8px solid #000000;
  margin-left: 380px;
  margin-top: 20px;
  position: absolute;
}
  
.SmallBox 
{
  color: #ffffff;
  text-align: center;
  font-family: "Futura PT", sans-serif;
  height: 75px;
  width: 700px;
  border-top: 8px solid #000000;
  background-color: #4564E1;
  position: absolute;
  bottom: 0px;
}
.BorderBox
{
width: 100%;
border-bottom: 5px solid #000000;
margin-top: 5px;
}
.TempSolution1
{
  display: inline-flex;
  align-items: center; 
  margin-bottom: 0; 
}
.TempSolution2a 
{
  display: flex; 
  align-items: flex-start; 
  margin-top: 10px; 
}

.TempSolution2b 
{
  white-space: nowrap; 
}

.TempSolution2c 
{
  display: flex;
  flex-direction: column; 
  margin-left: 20px; 
}

.List1a 
{
  margin-left: 323px; /* the perfect margin to fit under TO DO LIST */
  width: auto; 
  height: auto; 
  margin-top: 5px; /
}

.List1a:first-of-type  
{
  margin-left: 68px;
  margin-top: 0; 
  position: relative;
  top: 10px;
}

.List1a:nth-child(2) 
{ 
  margin-top: -15px; 
}

.List1a:nth-child(odd) 
{
  font-size: 35px;
  color: #443ba8;
}

.List1a:nth-child(odd)::before 
{
  content: "•";
  color:#443ba8;
}
.List1a:nth-child(odd)::before 
{
  content: "•";
  color:#443ba8;
}

.List1a:nth-child(even)
{
  margin-left: 359px; /* aligns with the start of the words before perfectly */
  font-size: 15px;
  color: #150a4e;
}

.List1b  
{
  color: #443ba8;
  font-size: 32px;
  margin-top: 5px; 
}

.List1b::before
{
  content: "•";
  color:#c98cfc;
}

.List1b:first-of-type 
{
  margin-top: 0; 
}
/*---------Page1 and its variants------------------------------------------------------------------------------------------------*/
/*---------Page2 and its variants------------------------------------------------------------------------------------------------*/